@import "../../../src/assets/sass/abstracts/variables";

.header {
  background-color: #abe5ff; // test -> delete
  display: flex;
  align-items: center;
}

.heading {
  color: $orange-medium;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 4.68rem;
  padding: 2rem 8rem;
  margin-right: auto;
}

.contacts {
  display: flex;
  padding: 0 6rem;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.item svg {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}

.text {
  color: $text-title;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.92rem;
}

.navbar {

}

.categories {

}

.categories span {
  font-weight: 500;
  font-size: 1.5rem;
}

.search {

}

.input {

}

.buttons button {
  background: none;
  border: none;
}